* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container {
    background-image: linear-gradient(rgba(0,0,0,0.80),rgba(0,0,0,0.80)), url(IMG20240916141705.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    height: 100vh;
}

.container .layout {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.layout .tittle {
    color: #F5F5F5;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.layout .sub-tittle {
    font-size: 14px;
    color: #F5F5F5;
    font-weight: 500;
    margin-bottom: 10px;
}

.layout .volume {
    text-align: center;
    padding: 5px;
    border: 2px solid #604CC3;
    border-radius: 4px;
    margin-bottom: -25px;
}

.layout .sub-hasil {
    font-size: 14px;
    font-weight: 500;
    color: #F5F5F5;
    margin-bottom: 10px;
}

.layout button {
    padding: 2px 12px;
    background-color: #604CC3;
    color: #F5F5F5;
    outline: none;
    border: none;
    border-radius: 2px;
    margin-bottom: 8px;
}

.layout .hasil {
    color: greenyellow;
    font-size: 14px;
    font-weight: 500;
}
